{% extends 'app/base.html' %}
{% load static %}
{% block title %} 
    Reset-Password-Confirm
{% endblock %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Reset Password Complete!!!</h3>
            <hr>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200px" height="200px" frameborder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}